*{
    box-sizing: border-box;
}
body {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding-left: 0;
  }

a {
    color: inherit;
    text-decoration: none;
}