*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
    --bg-color: #d8d8d8;
    --text-color: #181818;
    --primary-color: #ff651e;
    --secondary-color: #da560a;
    --accent-color: #3287cd;
    --border-color:#444;
    --card-bg: #a1a1a1;
}

html {
    overflow-y: scroll;
}
body {
    margin:0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul, ol {
    list-style: none;
    padding-left: 0;
  }

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

/* button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 2px 6px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3 ease;
} */

/* button:hover {
    background-color: var(--secondary-color);
} */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

section {
    padding: 40px 0;
}

footer {
    text-align: center;
    padding: 16px;
    margin-top: auto;
    background-color: var(--card-bg);
}